* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
  list-style: none;
  text-decoration: none;
}
body {
  background-color: rgb(255, 255, 255);
  height: 130vh;
}
header {
  display: flex;
  justify-content: center;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgb(124 155 206 / 37%);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(4px);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  position: fixed;
  top: 0;
  width: 100%;
  margin-bottom: 170px;
  align-items: center;
  z-index: 900;
  padding: 20px 37px;
}
.logo {
      width: 60px;
      position: absolute;
      left: 3%;
      top: 8%;
    }
.nave-ul {
  display: flex;
}
.nave-ul a {
  margin-right: 25px;
  color: #212429;
  transition: 0.2s;
}

.nave-ul .home{
    color: rgb(34, 174, 255);
    margin-right: 5px;
}

.nave-ul a:hover{
  color: rgb(101, 199, 255);
}

.svg-logo {
  width: 130px;
  margin-top: 100px;
  margin-left: 50%;
  transform: translate(-50%, -6%);
}

.B-icons {
    position: absolute;
    right: 10px;
}

.buton-black-whight{
  font-size: 25px;
  color: rgb(0, 59, 93);
  cursor: pointer;
  margin-right: 10px;
  transition: .4s all;
}
.menu-right,
.menu-left{
  font-size: 25px;
  color: rgb(0, 59, 93);
  cursor: pointer;
  display: none;
  transition: .4s all;
}

.buton-black-whight:hover,
.menu-right:hover,
.menu-left:hover{
    color: rgb(0, 0, 0);
}

.par-name {
    text-align: center;
    font-family: 'abeatbyKai',sans-serif;
    letter-spacing: 6px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.42);
    padding-top: 20px;
    margin-bottom: -17px;
}
.dark {
    color: rgba(0, 0, 0, 0.29);
}

.main-h1 {
  text-align: center;
  margin-top: 50px;
  -webkit-border-radius: 18px;
  border-radius: 18px;
  background: #d1d8ec;
  -webkit-box-shadow: 25px 25px 54px #a7adbd, -25px -25px 54px #fbffff;
  box-shadow: 25px 25px 54px #a7adbd, -25px -25px 54px #fbffff;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 122px;
}

.icon {
  cursor: pointer;
  transition: 0.2s;
  color: #212429;
  font-size: 25px;    
}
.icon:hover {
  transform: scale(1.05);
}
.icon-door {
  cursor: pointer;
  transition: 0.2s;
  width: 40px;
  margin-top: 10px;
  margin-left: 20px;
}
.icon-door:hover {
    transform: scale(1.05);
}

.right-listtes {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgb(31 80 135 / 37%);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 20px;
  width: 70%;
  margin: 25px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-listtes b {
    width: 50%;
    margin-left: 10px;
    padding-bottom: 15px;
    padding-top: 5px;
    outline: none;
    border: none;
/*    background-color: rgba(255, 255, 255, 0.25);*/
    text-align: center;
    font-weight: bold;
    color: rgb(0, 53, 84);
    height: 30px;
    letter-spacing: 1px;
    font-size: 15px;
    font-family: "Eras Demi ITC", sans-serif;
}

.right-listtes .hour {
    margin-left: 10px;
    background-color: transparent;
    color: #212429;
    letter-spacing: inherit;
    font-family: "Cairo", sans-serif;
    padding-bottom: 35px;
    font-size: 14px;
}

.right-listtes .hour:nth-child(3){
    width: 60%;
}

.right-listtes label {
    font-weight: bold;
    color: rgb(0, 53, 84);
    letter-spacing: inherit;
    width: 30%;
    text-align: center;
}

.right-listtes label:nth-child(2){
    width: 40%;
}

.next {
  margin-left: 10px;
  margin-top: 10px;
  cursor: pointer;
  width: 45px;
  font-size: 30px;
  transition: .3s all;
  color: rgb(0, 59, 93);;
}
.enter{
  margin-left: 30px;
  margin-top: 10px;
  cursor: pointer;
  width: 45px;
  font-size: 30px;
  transition: .3s all;
  color: rgb(0, 59, 93);
}

.enter:hover,
.next:hover {
    color: rgb(34, 174, 255);
}
.list-contnta {
  width: 93%;
  border: none;
  border-radius: 10px;
  outline: none;
  padding: 10px;
  color: #000;
  outline: none;
  font-weight: bold;
    
}

.li-p,
.li-pch,
.li-pg,
.li-pm,
.li-pl,
.lis{
    display: none;
}
.result,
.res{
    opacity: 0;
}


button {
  border: none;
  background-color: transparent;
  outline: none;
}

.activeTrash {
  display: none;
}

.active-stare {
  color: rgb(0, 140, 255);
}

.activebackground {
  background-color: rgb(30 38 45) !important;
}
.none {
  display: none;
}

.redheat {
  color: #f51228 !important ;
}

.arrwoi {
  text-align: center;
  position: fixed;
  color: #39b29d;
  font-size: 30px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 15px;
  bottom: -45px;
  z-index: 100;
  transition: 0.5s;
}
.arrwoinone {
  display: none;
}
.arrwoiblock {
  display: block !important ;
}
.arrwoi:hover {
  transform: translateY(-5px);
}
.arrwoi.show {
  bottom: 20px;
}

.noneslah {
  display: block !important ;
}

/* Footer */
footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgb(124 155 206 / 37%);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(4px);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 900;
  padding: 10px;
}

.footicons {
    width: 30%;
}

.footicons .footico {
    margin-right: 10px;
    font-size: 20px;
    color: #212429;
    transition: .4s all;
    cursor: pointer;
}
.footicons .footico:hover {
    color: rgb(0, 117, 185);
}
.footerlin {
    width: 50%;
}
footer span:nth-child(2) {
    color: rgb(34, 174, 255);
}

/* End */

.slay {
  position: fixed;
  top: 100px;
  right: 7px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgb(38 85 164 / 37%);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 10px;
  z-index: 1000;
  display: none;
}
.slay::after {
  content: "";
  position: absolute;
  border-color: rgba(255, 255, 255, 0.25) transparent transparent transparent;
  border-style: solid;
  border-width: 20px;
  bottom: -41px;
  right: 8px;
  z-index: 1000;
}

/* .heartnone::after{
  content: "rasratsat";
} */
.heartnone {
  color: #ff4343;
}
.gold:hover {
  color: orange !important;
}

.golden {
  color: orange;
}
.icon-heart {
  margin-left: 7px;
}
.icon-heart:hover {
  color: #ff4343;
}

.activeColorWhfit {
  color: white;
}

body::after {
  content: "";
  background-color: #274265;
  width: 550px;
  height: 550px;
  border-radius: 50%;
  position: fixed;
  z-index: -1;
  top: 330px;
  left: -145px;
}

body::before {
  content: "";
  background-color: #ff1f3d;
  width: 620px;
  height: 620px;
  border-radius: 50%;
  position: fixed;
  z-index: -1;
  top: -50px;
  right: -155px;
}
@media (max-width: 1700px) {
    .right-listtes {
        width: 50%;
    }
}

@media (max-width: 1050px) {
    .right-listtes {
        width: 65%;
    }
}

@media (max-width: 950px) {
    .right-listtes {
        width: 70%;
    }
}

@media (max-width: 766px) {
  body::after {
    width: 450px;
    height: 450px;
    top: 340px;
  }
  body::before {
    width: 310px;
    height: 310px;
    }
    .right-listtes {
        width: 85%;
    }
    .logo {
      width: 60px;
      position: absolute;
      left: 3%;
      top: 8%;
    }
    .menu-right{
        display: none;
    }
}

@media (max-width: 680px){
    header {
       padding: 34px 37px;
       box-shadow: none;
       border-bottom: none;
       border-bottom-right-radius: 0px;
       border-bottom-left-radius: 0px;
       margin-bottom: 0px;
    }
    .nave-ul{
        position: absolute;
        top: -58.3%;
        right: -60%;
        transform: translate(50%,50%);
        padding: 20px 50px 27px;
        width: 100.2%;
        display: block;
        background: rgba(255, 255, 255, 0.5);
        box-shadow: 0 8px 32px 0 rgb(124 155 206 / 37%);
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        transition: .8s all;
    }
    .nave-ul li{
        margin-bottom: 5px;
    }
    .nave-ul .home {
        color: rgb(0, 131, 205);
    }
    .nave-ul a {
        font-size: 17px;
    }
    .nave-ul a:hover{
        color: rgb(0, 131, 205);
    }
    .menu-right{
        display: inline-block;
    }
    .par-name{
        display: inherit;
    }
    .logo {
      width: 50px;
      position: absolute;
      left: 3%;
      top: 10%;
    }
}


